//  Copyright © 2023 Kiwix. All rights reserved.

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
HAS_LIBRARY = false
ZIM_FILE_MAIN = dwds_de_dictionary_nopic_2023-11-20
SETTINGS_DEFAULT_EXTERNAL_LINK_TO = alwaysLoad
SETTINGS_SHOW_EXTERNAL_LINK_OPTION = false
