//  Copyright © 2023 Kiwix.

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
HAS_LIBRARY = true
APP_STORE_ID = id997079563
//ZIM_FILE_MAIN =
//SETTINGS_DEFAULT_EXTERNAL_LINK_TO = alwaysAsk
//SETTINGS_SHOW_EXTERNAL_LINK_OPTION = true
//SETTINGS_SHOW_SEARCH_SNIPPET = true
