<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ArticlePreview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Bookmarks 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Bookmarks.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>WikiMed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>macOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9706DA941E674F5D0005FE0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9706DAA81E6750EB0005FE0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9722121A1D3ECCFE00C0DCF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>973BCCE81CEB3FA400F10B44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>973BCCFB1CEB3FA400F10B44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>973BCD061CEB3FA500F10B44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>975FDAD61F6082DA00A10E8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9779C2FD1D4574280064CC8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9779C3121D4575AD0064CC8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>978C9DBD1E4245B60078BFF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>979315801E5127930093D3BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>979315901E5127930093D3BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9793159B1E5127940093D3BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97A2AB871C1B80FF00052E74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97A2AB9E1C1B80FF00052E74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97A2ABA91C1B810000052E74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97A36C241F8C21210079B452</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97C575F1202CB0E800E37502</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97CF3EEA1D428F9600AE82FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97E609EE1D103DED00EBCB9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97FC27D01E69CE10008B2348</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
