<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zim</string>
				<string>zimaa</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ZimFile.icns</string>
			<key>CFBundleTypeName</key>
			<string>OpenZIM Content File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.kiwix</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kiwix</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.0.8</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.reference</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Kiwix and authors</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Zim File</string>
			<key>UTTypeIconFile</key>
			<string>ZimFile.icns</string>
			<key>UTTypeIdentifier</key>
			<string>org.openzim.zim</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.openzim.org/wiki/ZIM_file_format</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zim</string>
					<string>zimaa</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
