<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string>Zaza</string>
	<key>aa</key>
	<string>Afar</string>
	<key>aar</key>
	<string>Afar</string>
	<key>ab</key>
	<string>Abkhazian</string>
	<key>abk</key>
	<string>Abkhazian</string>
	<key>ace</key>
	<string>Achinese</string>
	<key>ach</key>
	<string>Acoli</string>
	<key>ada</key>
	<string>Adangme</string>
	<key>ady</key>
	<string>Adyghe</string>
	<key>ae</key>
	<string>Avestan</string>
	<key>af</key>
	<string>Afrikaans</string>
	<key>afa</key>
	<string>Afro-Asiatic languages</string>
	<key>afh</key>
	<string>Afrihili</string>
	<key>afr</key>
	<string>Afrikaans</string>
	<key>ain</key>
	<string>Ainu</string>
	<key>ak</key>
	<string>Akan</string>
	<key>aka</key>
	<string>Akan</string>
	<key>akk</key>
	<string>Akkadian</string>
	<key>alb</key>
	<string>Albanian</string>
	<key>ale</key>
	<string>Aleut</string>
	<key>alg</key>
	<string>Algonquian languages</string>
	<key>alt</key>
	<string>Southern Altai</string>
	<key>am</key>
	<string>Amharic</string>
	<key>amh</key>
	<string>Amharic</string>
	<key>an</key>
	<string>Aragonese</string>
	<key>ang</key>
	<string>English, Old (ca.450-1100)</string>
	<key>anp</key>
	<string>Angika</string>
	<key>apa</key>
	<string>Apache languages</string>
	<key>ar</key>
	<string>Arabic</string>
	<key>ara</key>
	<string>Arabic</string>
	<key>arc</key>
	<string>Official Aramaic (700-300 BCE)</string>
	<key>arg</key>
	<string>Aragonese</string>
	<key>arm</key>
	<string>Armenian</string>
	<key>arn</key>
	<string>Mapudungun</string>
	<key>arp</key>
	<string>Arapaho</string>
	<key>art</key>
	<string>Artificial languages</string>
	<key>arw</key>
	<string>Arawak</string>
	<key>as</key>
	<string>Assamese</string>
	<key>asm</key>
	<string>Assamese</string>
	<key>ast</key>
	<string>Asturian</string>
	<key>ath</key>
	<string>Athapascan languages</string>
	<key>aus</key>
	<string>Australian languages</string>
	<key>av</key>
	<string>Avaric</string>
	<key>ava</key>
	<string>Avaric</string>
	<key>ave</key>
	<string>Avestan</string>
	<key>awa</key>
	<string>Awadhi</string>
	<key>ay</key>
	<string>Aymara</string>
	<key>aym</key>
	<string>Aymara</string>
	<key>az</key>
	<string>Azerbaijani</string>
	<key>aze</key>
	<string>Azerbaijani</string>
	<key>ba</key>
	<string>Bashkir</string>
	<key>bad</key>
	<string>Banda languages</string>
	<key>bai</key>
	<string>Bamileke languages</string>
	<key>bak</key>
	<string>Bashkir</string>
	<key>bal</key>
	<string>Baluchi</string>
	<key>bam</key>
	<string>Bambara</string>
	<key>ban</key>
	<string>Balinese</string>
	<key>baq</key>
	<string>Basque</string>
	<key>bas</key>
	<string>Basa</string>
	<key>bat</key>
	<string>Baltic languages</string>
	<key>be</key>
	<string>Belarusian</string>
	<key>bej</key>
	<string>Beja</string>
	<key>bel</key>
	<string>Belarusian</string>
	<key>bem</key>
	<string>Bemba</string>
	<key>ben</key>
	<string>Bengali</string>
	<key>ber</key>
	<string>Berber languages</string>
	<key>bg</key>
	<string>Bulgarian</string>
	<key>bh</key>
	<string>Bihari languages</string>
	<key>bho</key>
	<string>Bhojpuri</string>
	<key>bi</key>
	<string>Bislama</string>
	<key>bih</key>
	<string>Bihari languages</string>
	<key>bik</key>
	<string>Bikol</string>
	<key>bin</key>
	<string>Bini</string>
	<key>bis</key>
	<string>Bislama</string>
	<key>bla</key>
	<string>Siksika</string>
	<key>bm</key>
	<string>Bambara</string>
	<key>bn</key>
	<string>Bengali</string>
	<key>bnt</key>
	<string>Bantu (Other)</string>
	<key>bo</key>
	<string>Tibetan</string>
	<key>bod</key>
	<string>Tibetan</string>
	<key>bos</key>
	<string>Bosnian</string>
	<key>br</key>
	<string>Breton</string>
	<key>bra</key>
	<string>Braj</string>
	<key>bre</key>
	<string>Breton</string>
	<key>bs</key>
	<string>Bosnian</string>
	<key>btk</key>
	<string>Batak languages</string>
	<key>bua</key>
	<string>Buriat</string>
	<key>bug</key>
	<string>Buginese</string>
	<key>bul</key>
	<string>Bulgarian</string>
	<key>bur</key>
	<string>Burmese</string>
	<key>byn</key>
	<string>Blin</string>
	<key>ca</key>
	<string>Catalan</string>
	<key>cad</key>
	<string>Caddo</string>
	<key>cai</key>
	<string>Central American Indian languages</string>
	<key>car</key>
	<string>Galibi Carib</string>
	<key>cat</key>
	<string>Catalan</string>
	<key>cau</key>
	<string>Caucasian languages</string>
	<key>ce</key>
	<string>Chechen</string>
	<key>ceb</key>
	<string>Cebuano</string>
	<key>cel</key>
	<string>Celtic languages</string>
	<key>ces</key>
	<string>Czech</string>
	<key>ch</key>
	<string>Chamorro</string>
	<key>cha</key>
	<string>Chamorro</string>
	<key>chb</key>
	<string>Chibcha</string>
	<key>che</key>
	<string>Chechen</string>
	<key>chg</key>
	<string>Chagatai</string>
	<key>chi</key>
	<string>Chinese</string>
	<key>chk</key>
	<string>Chuukese</string>
	<key>chm</key>
	<string>Mari</string>
	<key>chn</key>
	<string>Chinook jargon</string>
	<key>cho</key>
	<string>Choctaw</string>
	<key>chp</key>
	<string>Chipewyan</string>
	<key>chr</key>
	<string>Cherokee</string>
	<key>chu</key>
	<string>Church Slavic</string>
	<key>chv</key>
	<string>Chuvash</string>
	<key>chy</key>
	<string>Cheyenne</string>
	<key>cmc</key>
	<string>Chamic languages</string>
	<key>co</key>
	<string>Corsican</string>
	<key>cop</key>
	<string>Coptic</string>
	<key>cor</key>
	<string>Cornish</string>
	<key>cos</key>
	<string>Corsican</string>
	<key>cpe</key>
	<string>Creoles and pidgins, English based</string>
	<key>cpf</key>
	<string>Creoles and pidgins, French-based </string>
	<key>cpp</key>
	<string>Creoles and pidgins, Portuguese-based </string>
	<key>cr</key>
	<string>Cree</string>
	<key>cre</key>
	<string>Cree</string>
	<key>crh</key>
	<string>Crimean Tatar</string>
	<key>crp</key>
	<string>Creoles and pidgins </string>
	<key>cs</key>
	<string>Czech</string>
	<key>csb</key>
	<string>Kashubian</string>
	<key>cu</key>
	<string>Church Slavic</string>
	<key>cus</key>
	<string>Cushitic languages</string>
	<key>cv</key>
	<string>Chuvash</string>
	<key>cy</key>
	<string>Welsh</string>
	<key>cym</key>
	<string>Welsh</string>
	<key>cze</key>
	<string>Czech</string>
	<key>da</key>
	<string>Danish</string>
	<key>dak</key>
	<string>Dakota</string>
	<key>dan</key>
	<string>Danish</string>
	<key>dar</key>
	<string>Dargwa</string>
	<key>day</key>
	<string>Land Dayak languages</string>
	<key>de</key>
	<string>German</string>
	<key>del</key>
	<string>Delaware</string>
	<key>den</key>
	<string>Slave (Athapascan)</string>
	<key>deu</key>
	<string>German</string>
	<key>dgr</key>
	<string>Dogrib</string>
	<key>din</key>
	<string>Dinka</string>
	<key>div</key>
	<string>Divehi</string>
	<key>doi</key>
	<string>Dogri</string>
	<key>dra</key>
	<string>Dravidian languages</string>
	<key>dsb</key>
	<string>Lower Sorbian</string>
	<key>dua</key>
	<string>Duala</string>
	<key>dum</key>
	<string>Dutch, Middle (ca.1050-1350)</string>
	<key>dut</key>
	<string>Dutch</string>
	<key>dv</key>
	<string>Divehi</string>
	<key>dyu</key>
	<string>Dyula</string>
	<key>dz</key>
	<string>Dzongkha</string>
	<key>dzo</key>
	<string>Dzongkha</string>
	<key>ee</key>
	<string>Ewe</string>
	<key>efi</key>
	<string>Efik</string>
	<key>egy</key>
	<string>Egyptian (Ancient)</string>
	<key>eka</key>
	<string>Ekajuk</string>
	<key>el</key>
	<string>Greek, Modern (1453-)</string>
	<key>ell</key>
	<string>Greek, Modern (1453-)</string>
	<key>elx</key>
	<string>Elamite</string>
	<key>en</key>
	<string>English</string>
	<key>eng</key>
	<string>English</string>
	<key>enm</key>
	<string>English, Middle (1100-1500)</string>
	<key>eo</key>
	<string>Esperanto</string>
	<key>epo</key>
	<string>Esperanto</string>
	<key>es</key>
	<string>Spanish</string>
	<key>est</key>
	<string>Estonian</string>
	<key>et</key>
	<string>Estonian</string>
	<key>eu</key>
	<string>Basque</string>
	<key>eus</key>
	<string>Basque</string>
	<key>ewe</key>
	<string>Ewe</string>
	<key>ewo</key>
	<string>Ewondo</string>
	<key>fa</key>
	<string>Persian</string>
	<key>fan</key>
	<string>Fang</string>
	<key>fao</key>
	<string>Faroese</string>
	<key>fas</key>
	<string>Persian</string>
	<key>fat</key>
	<string>Fanti</string>
	<key>ff</key>
	<string>Fulah</string>
	<key>fi</key>
	<string>Finnish</string>
	<key>fij</key>
	<string>Fijian</string>
	<key>fil</key>
	<string>Filipino</string>
	<key>fin</key>
	<string>Finnish</string>
	<key>fiu</key>
	<string>Finno-Ugrian languages</string>
	<key>fj</key>
	<string>Fijian</string>
	<key>fo</key>
	<string>Faroese</string>
	<key>fon</key>
	<string>Fon</string>
	<key>fr</key>
	<string>French</string>
	<key>fra</key>
	<string>French</string>
	<key>fre</key>
	<string>French</string>
	<key>frm</key>
	<string>French, Middle (ca.1400-1600)</string>
	<key>fro</key>
	<string>French, Old (842-ca.1400)</string>
	<key>frr</key>
	<string>Northern Frisian</string>
	<key>frs</key>
	<string>Eastern Frisian</string>
	<key>fry</key>
	<string>Western Frisian</string>
	<key>ful</key>
	<string>Fulah</string>
	<key>fur</key>
	<string>Friulian</string>
	<key>fy</key>
	<string>Western Frisian</string>
	<key>ga</key>
	<string>Irish</string>
	<key>gaa</key>
	<string>Ga</string>
	<key>gay</key>
	<string>Gayo</string>
	<key>gba</key>
	<string>Gbaya</string>
	<key>gd</key>
	<string>Gaelic</string>
	<key>gem</key>
	<string>Germanic languages</string>
	<key>geo</key>
	<string>Georgian</string>
	<key>ger</key>
	<string>German</string>
	<key>gez</key>
	<string>Geez</string>
	<key>gil</key>
	<string>Gilbertese</string>
	<key>gl</key>
	<string>Galician</string>
	<key>gla</key>
	<string>Gaelic</string>
	<key>gle</key>
	<string>Irish</string>
	<key>glg</key>
	<string>Galician</string>
	<key>glv</key>
	<string>Manx</string>
	<key>gmh</key>
	<string>German, Middle High (ca.1050-1500)</string>
	<key>gn</key>
	<string>Guarani</string>
	<key>goh</key>
	<string>German, Old High (ca.750-1050)</string>
	<key>gon</key>
	<string>Gondi</string>
	<key>gor</key>
	<string>Gorontalo</string>
	<key>got</key>
	<string>Gothic</string>
	<key>grb</key>
	<string>Grebo</string>
	<key>grc</key>
	<string>Greek, Ancient (to 1453)</string>
	<key>gre</key>
	<string>Greek, Modern (1453-)</string>
	<key>grn</key>
	<string>Guarani</string>
	<key>gsw</key>
	<string>Swiss German</string>
	<key>gu</key>
	<string>Gujarati</string>
	<key>guj</key>
	<string>Gujarati</string>
	<key>gv</key>
	<string>Manx</string>
	<key>gwi</key>
	<string>Gwich'in</string>
	<key>ha</key>
	<string>Hausa</string>
	<key>hai</key>
	<string>Haida</string>
	<key>hat</key>
	<string>Haitian</string>
	<key>hau</key>
	<string>Hausa</string>
	<key>haw</key>
	<string>Hawaiian</string>
	<key>he</key>
	<string>Hebrew</string>
	<key>heb</key>
	<string>Hebrew</string>
	<key>her</key>
	<string>Herero</string>
	<key>hi</key>
	<string>Hindi</string>
	<key>hil</key>
	<string>Hiligaynon</string>
	<key>him</key>
	<string>Himachali languages</string>
	<key>hin</key>
	<string>Hindi</string>
	<key>hit</key>
	<string>Hittite</string>
	<key>hmn</key>
	<string>Hmong</string>
	<key>hmo</key>
	<string>Hiri Motu</string>
	<key>ho</key>
	<string>Hiri Motu</string>
	<key>hr</key>
	<string>Croatian</string>
	<key>hrv</key>
	<string>Croatian</string>
	<key>hsb</key>
	<string>Upper Sorbian</string>
	<key>ht</key>
	<string>Haitian</string>
	<key>hu</key>
	<string>Hungarian</string>
	<key>hun</key>
	<string>Hungarian</string>
	<key>hup</key>
	<string>Hupa</string>
	<key>hy</key>
	<string>Armenian</string>
	<key>hye</key>
	<string>Armenian</string>
	<key>hz</key>
	<string>Herero</string>
	<key>ia</key>
	<string>Interlingua (International Auxiliary Language Association)</string>
	<key>iba</key>
	<string>Iban</string>
	<key>ibo</key>
	<string>Igbo</string>
	<key>ice</key>
	<string>Icelandic</string>
	<key>id</key>
	<string>Indonesian</string>
	<key>ido</key>
	<string>Ido</string>
	<key>ie</key>
	<string>Interlingue</string>
	<key>ig</key>
	<string>Igbo</string>
	<key>ii</key>
	<string>Sichuan Yi</string>
	<key>iii</key>
	<string>Sichuan Yi</string>
	<key>ijo</key>
	<string>Ijo languages</string>
	<key>ik</key>
	<string>Inupiaq</string>
	<key>iku</key>
	<string>Inuktitut</string>
	<key>ile</key>
	<string>Interlingue</string>
	<key>ilo</key>
	<string>Iloko</string>
	<key>ina</key>
	<string>Interlingua (International Auxiliary Language Association)</string>
	<key>inc</key>
	<string>Indic languages</string>
	<key>ind</key>
	<string>Indonesian</string>
	<key>ine</key>
	<string>Indo-European languages</string>
	<key>inh</key>
	<string>Ingush</string>
	<key>io</key>
	<string>Ido</string>
	<key>ipk</key>
	<string>Inupiaq</string>
	<key>ira</key>
	<string>Iranian languages</string>
	<key>iro</key>
	<string>Iroquoian languages</string>
	<key>is</key>
	<string>Icelandic</string>
	<key>isl</key>
	<string>Icelandic</string>
	<key>it</key>
	<string>Italian</string>
	<key>ita</key>
	<string>Italian</string>
	<key>iu</key>
	<string>Inuktitut</string>
	<key>ja</key>
	<string>Japanese</string>
	<key>jav</key>
	<string>Javanese</string>
	<key>jbo</key>
	<string>Lojban</string>
	<key>jpn</key>
	<string>Japanese</string>
	<key>jpr</key>
	<string>Judeo-Persian</string>
	<key>jrb</key>
	<string>Judeo-Arabic</string>
	<key>jv</key>
	<string>Javanese</string>
	<key>ka</key>
	<string>Georgian</string>
	<key>kaa</key>
	<string>Kara-Kalpak</string>
	<key>kab</key>
	<string>Kabyle</string>
	<key>kac</key>
	<string>Kachin</string>
	<key>kal</key>
	<string>Kalaallisut</string>
	<key>kam</key>
	<string>Kamba</string>
	<key>kan</key>
	<string>Kannada</string>
	<key>kar</key>
	<string>Karen languages</string>
	<key>kas</key>
	<string>Kashmiri</string>
	<key>kat</key>
	<string>Georgian</string>
	<key>kau</key>
	<string>Kanuri</string>
	<key>kaw</key>
	<string>Kawi</string>
	<key>kaz</key>
	<string>Kazakh</string>
	<key>kbd</key>
	<string>Kabardian</string>
	<key>kg</key>
	<string>Kongo</string>
	<key>kha</key>
	<string>Khasi</string>
	<key>khi</key>
	<string>Khoisan languages</string>
	<key>khm</key>
	<string>Central Khmer</string>
	<key>kho</key>
	<string>Khotanese</string>
	<key>ki</key>
	<string>Kikuyu</string>
	<key>kik</key>
	<string>Kikuyu</string>
	<key>kin</key>
	<string>Kinyarwanda</string>
	<key>kir</key>
	<string>Kirghiz</string>
	<key>kj</key>
	<string>Kuanyama</string>
	<key>kk</key>
	<string>Kazakh</string>
	<key>kl</key>
	<string>Kalaallisut</string>
	<key>km</key>
	<string>Central Khmer</string>
	<key>kmb</key>
	<string>Kimbundu</string>
	<key>kn</key>
	<string>Kannada</string>
	<key>ko</key>
	<string>Korean</string>
	<key>kok</key>
	<string>Konkani</string>
	<key>kom</key>
	<string>Komi</string>
	<key>kon</key>
	<string>Kongo</string>
	<key>kor</key>
	<string>Korean</string>
	<key>kos</key>
	<string>Kosraean</string>
	<key>kpe</key>
	<string>Kpelle</string>
	<key>kr</key>
	<string>Kanuri</string>
	<key>krc</key>
	<string>Karachay-Balkar</string>
	<key>krl</key>
	<string>Karelian</string>
	<key>kro</key>
	<string>Kru languages</string>
	<key>kru</key>
	<string>Kurukh</string>
	<key>ks</key>
	<string>Kashmiri</string>
	<key>ku</key>
	<string>Kurdish</string>
	<key>kua</key>
	<string>Kuanyama</string>
	<key>kum</key>
	<string>Kumyk</string>
	<key>kur</key>
	<string>Kurdish</string>
	<key>kut</key>
	<string>Kutenai</string>
	<key>kv</key>
	<string>Komi</string>
	<key>kw</key>
	<string>Cornish</string>
	<key>ky</key>
	<string>Kirghiz</string>
	<key>la</key>
	<string>Latin</string>
	<key>lad</key>
	<string>Ladino</string>
	<key>lah</key>
	<string>Lahnda</string>
	<key>lam</key>
	<string>Lamba</string>
	<key>lao</key>
	<string>Lao</string>
	<key>lat</key>
	<string>Latin</string>
	<key>lav</key>
	<string>Latvian</string>
	<key>lb</key>
	<string>Luxembourgish</string>
	<key>lez</key>
	<string>Lezghian</string>
	<key>lg</key>
	<string>Ganda</string>
	<key>li</key>
	<string>Limburgan</string>
	<key>lim</key>
	<string>Limburgan</string>
	<key>lin</key>
	<string>Lingala</string>
	<key>lit</key>
	<string>Lithuanian</string>
	<key>ln</key>
	<string>Lingala</string>
	<key>lo</key>
	<string>Lao</string>
	<key>lol</key>
	<string>Mongo</string>
	<key>loz</key>
	<string>Lozi</string>
	<key>lt</key>
	<string>Lithuanian</string>
	<key>ltz</key>
	<string>Luxembourgish</string>
	<key>lu</key>
	<string>Luba-Katanga</string>
	<key>lua</key>
	<string>Luba-Lulua</string>
	<key>lub</key>
	<string>Luba-Katanga</string>
	<key>lug</key>
	<string>Ganda</string>
	<key>lui</key>
	<string>Luiseno</string>
	<key>lun</key>
	<string>Lunda</string>
	<key>luo</key>
	<string>Luo (Kenya and Tanzania)</string>
	<key>lus</key>
	<string>Lushai</string>
	<key>lv</key>
	<string>Latvian</string>
	<key>mac</key>
	<string>Macedonian</string>
	<key>mad</key>
	<string>Madurese</string>
	<key>mag</key>
	<string>Magahi</string>
	<key>mah</key>
	<string>Marshallese</string>
	<key>mai</key>
	<string>Maithili</string>
	<key>mak</key>
	<string>Makasar</string>
	<key>mal</key>
	<string>Malayalam</string>
	<key>man</key>
	<string>Mandingo</string>
	<key>mao</key>
	<string>Maori</string>
	<key>map</key>
	<string>Austronesian languages</string>
	<key>mar</key>
	<string>Marathi</string>
	<key>mas</key>
	<string>Masai</string>
	<key>may</key>
	<string>Malay</string>
	<key>mdf</key>
	<string>Moksha</string>
	<key>mdr</key>
	<string>Mandar</string>
	<key>men</key>
	<string>Mende</string>
	<key>mg</key>
	<string>Malagasy</string>
	<key>mga</key>
	<string>Irish, Middle (900-1200)</string>
	<key>mh</key>
	<string>Marshallese</string>
	<key>mi</key>
	<string>Maori</string>
	<key>mic</key>
	<string>Mi'kmaq</string>
	<key>min</key>
	<string>Minangkabau</string>
	<key>mis</key>
	<string>Uncoded languages</string>
	<key>mk</key>
	<string>Macedonian</string>
	<key>mkd</key>
	<string>Macedonian</string>
	<key>mkh</key>
	<string>Mon-Khmer languages</string>
	<key>ml</key>
	<string>Malayalam</string>
	<key>mlg</key>
	<string>Malagasy</string>
	<key>mlt</key>
	<string>Maltese</string>
	<key>mn</key>
	<string>Mongolian</string>
	<key>mnc</key>
	<string>Manchu</string>
	<key>mni</key>
	<string>Manipuri</string>
	<key>mno</key>
	<string>Manobo languages</string>
	<key>moh</key>
	<string>Mohawk</string>
	<key>mon</key>
	<string>Mongolian</string>
	<key>mos</key>
	<string>Mossi</string>
	<key>mr</key>
	<string>Marathi</string>
	<key>mri</key>
	<string>Maori</string>
	<key>ms</key>
	<string>Malay</string>
	<key>msa</key>
	<string>Malay</string>
	<key>mt</key>
	<string>Maltese</string>
	<key>mul</key>
	<string>Multiple languages</string>
	<key>mun</key>
	<string>Munda languages</string>
	<key>mus</key>
	<string>Creek</string>
	<key>mwl</key>
	<string>Mirandese</string>
	<key>mwr</key>
	<string>Marwari</string>
	<key>my</key>
	<string>Burmese</string>
	<key>mya</key>
	<string>Burmese</string>
	<key>myn</key>
	<string>Mayan languages</string>
	<key>myv</key>
	<string>Erzya</string>
	<key>na</key>
	<string>Nauru</string>
	<key>nah</key>
	<string>Nahuatl languages</string>
	<key>nai</key>
	<string>North American Indian languages</string>
	<key>nap</key>
	<string>Neapolitan</string>
	<key>nau</key>
	<string>Nauru</string>
	<key>nav</key>
	<string>Navajo</string>
	<key>nb</key>
	<string>Bokmål, Norwegian</string>
	<key>nbl</key>
	<string>Ndebele, South</string>
	<key>nd</key>
	<string>Ndebele, North</string>
	<key>nde</key>
	<string>Ndebele, North</string>
	<key>ndo</key>
	<string>Ndonga</string>
	<key>nds</key>
	<string>Low German</string>
	<key>ne</key>
	<string>Nepali</string>
	<key>nep</key>
	<string>Nepali</string>
	<key>new</key>
	<string>Nepal Bhasa</string>
	<key>ng</key>
	<string>Ndonga</string>
	<key>nia</key>
	<string>Nias</string>
	<key>nic</key>
	<string>Niger-Kordofanian languages</string>
	<key>niu</key>
	<string>Niuean</string>
	<key>nl</key>
	<string>Dutch</string>
	<key>nld</key>
	<string>Dutch</string>
	<key>nn</key>
	<string>Norwegian Nynorsk</string>
	<key>nno</key>
	<string>Norwegian Nynorsk</string>
	<key>no</key>
	<string>Norwegian</string>
	<key>nob</key>
	<string>Bokmål, Norwegian</string>
	<key>nog</key>
	<string>Nogai</string>
	<key>non</key>
	<string>Norse, Old</string>
	<key>nor</key>
	<string>Norwegian</string>
	<key>nqo</key>
	<string>N'Ko</string>
	<key>nr</key>
	<string>Ndebele, South</string>
	<key>nso</key>
	<string>Pedi</string>
	<key>nub</key>
	<string>Nubian languages</string>
	<key>nv</key>
	<string>Navajo</string>
	<key>nwc</key>
	<string>Classical Newari</string>
	<key>ny</key>
	<string>Chichewa</string>
	<key>nya</key>
	<string>Chichewa</string>
	<key>nym</key>
	<string>Nyamwezi</string>
	<key>nyn</key>
	<string>Nyankole</string>
	<key>nyo</key>
	<string>Nyoro</string>
	<key>nzi</key>
	<string>Nzima</string>
	<key>oc</key>
	<string>Occitan (post 1500)</string>
	<key>oci</key>
	<string>Occitan (post 1500)</string>
	<key>oj</key>
	<string>Ojibwa</string>
	<key>oji</key>
	<string>Ojibwa</string>
	<key>om</key>
	<string>Oromo</string>
	<key>or</key>
	<string>Oriya</string>
	<key>ori</key>
	<string>Oriya</string>
	<key>orm</key>
	<string>Oromo</string>
	<key>os</key>
	<string>Ossetian</string>
	<key>osa</key>
	<string>Osage</string>
	<key>oss</key>
	<string>Ossetian</string>
	<key>ota</key>
	<string>Turkish, Ottoman (1500-1928)</string>
	<key>oto</key>
	<string>Otomian languages</string>
	<key>pa</key>
	<string>Panjabi</string>
	<key>paa</key>
	<string>Papuan languages</string>
	<key>pag</key>
	<string>Pangasinan</string>
	<key>pal</key>
	<string>Pahlavi</string>
	<key>pam</key>
	<string>Pampanga</string>
	<key>pan</key>
	<string>Panjabi</string>
	<key>pap</key>
	<string>Papiamento</string>
	<key>pau</key>
	<string>Palauan</string>
	<key>peo</key>
	<string>Persian, Old (ca.600-400 B.C.)</string>
	<key>per</key>
	<string>Persian</string>
	<key>phi</key>
	<string>Philippine languages</string>
	<key>phn</key>
	<string>Phoenician</string>
	<key>pi</key>
	<string>Pali</string>
	<key>pl</key>
	<string>Polish</string>
	<key>pli</key>
	<string>Pali</string>
	<key>pol</key>
	<string>Polish</string>
	<key>pon</key>
	<string>Pohnpeian</string>
	<key>por</key>
	<string>Portuguese</string>
	<key>pra</key>
	<string>Prakrit languages</string>
	<key>pro</key>
	<string>Provençal, Old (to 1500)</string>
	<key>ps</key>
	<string>Pushto</string>
	<key>pt</key>
	<string>Portuguese</string>
	<key>pus</key>
	<string>Pushto</string>
	<key>qaa-qtz</key>
	<string>Reserved for local use</string>
	<key>qu</key>
	<string>Quechua</string>
	<key>que</key>
	<string>Quechua</string>
	<key>raj</key>
	<string>Rajasthani</string>
	<key>rap</key>
	<string>Rapanui</string>
	<key>rar</key>
	<string>Rarotongan</string>
	<key>rm</key>
	<string>Romansh</string>
	<key>rn</key>
	<string>Rundi</string>
	<key>ro</key>
	<string>Romanian</string>
	<key>roa</key>
	<string>Romance languages</string>
	<key>roh</key>
	<string>Romansh</string>
	<key>rom</key>
	<string>Romany</string>
	<key>ron</key>
	<string>Romanian</string>
	<key>ru</key>
	<string>Russian</string>
	<key>rum</key>
	<string>Romanian</string>
	<key>run</key>
	<string>Rundi</string>
	<key>rup</key>
	<string>Aromanian</string>
	<key>rus</key>
	<string>Russian</string>
	<key>rw</key>
	<string>Kinyarwanda</string>
	<key>sa</key>
	<string>Sanskrit</string>
	<key>sad</key>
	<string>Sandawe</string>
	<key>sag</key>
	<string>Sango</string>
	<key>sah</key>
	<string>Yakut</string>
	<key>sai</key>
	<string>South American Indian (Other)</string>
	<key>sal</key>
	<string>Salishan languages</string>
	<key>sam</key>
	<string>Samaritan Aramaic</string>
	<key>san</key>
	<string>Sanskrit</string>
	<key>sas</key>
	<string>Sasak</string>
	<key>sat</key>
	<string>Santali</string>
	<key>sc</key>
	<string>Sardinian</string>
	<key>scn</key>
	<string>Sicilian</string>
	<key>sco</key>
	<string>Scots</string>
	<key>sd</key>
	<string>Sindhi</string>
	<key>se</key>
	<string>Northern Sami</string>
	<key>sel</key>
	<string>Selkup</string>
	<key>sem</key>
	<string>Semitic languages</string>
	<key>sg</key>
	<string>Sango</string>
	<key>sga</key>
	<string>Irish, Old (to 900)</string>
	<key>sgn</key>
	<string>Sign Languages</string>
	<key>shn</key>
	<string>Shan</string>
	<key>si</key>
	<string>Sinhala</string>
	<key>sid</key>
	<string>Sidamo</string>
	<key>sin</key>
	<string>Sinhala</string>
	<key>sio</key>
	<string>Siouan languages</string>
	<key>sit</key>
	<string>Sino-Tibetan languages</string>
	<key>sk</key>
	<string>Slovak</string>
	<key>sl</key>
	<string>Slovenian</string>
	<key>sla</key>
	<string>Slavic languages</string>
	<key>slk</key>
	<string>Slovak</string>
	<key>slo</key>
	<string>Slovak</string>
	<key>slv</key>
	<string>Slovenian</string>
	<key>sm</key>
	<string>Samoan</string>
	<key>sma</key>
	<string>Southern Sami</string>
	<key>sme</key>
	<string>Northern Sami</string>
	<key>smi</key>
	<string>Sami languages</string>
	<key>smj</key>
	<string>Lule Sami</string>
	<key>smn</key>
	<string>Inari Sami</string>
	<key>smo</key>
	<string>Samoan</string>
	<key>sms</key>
	<string>Skolt Sami</string>
	<key>sn</key>
	<string>Shona</string>
	<key>sna</key>
	<string>Shona</string>
	<key>snd</key>
	<string>Sindhi</string>
	<key>snk</key>
	<string>Soninke</string>
	<key>so</key>
	<string>Somali</string>
	<key>sog</key>
	<string>Sogdian</string>
	<key>som</key>
	<string>Somali</string>
	<key>son</key>
	<string>Songhai languages</string>
	<key>sot</key>
	<string>Sotho, Southern</string>
	<key>spa</key>
	<string>Spanish</string>
	<key>sq</key>
	<string>Albanian</string>
	<key>sqi</key>
	<string>Albanian</string>
	<key>sr</key>
	<string>Serbian</string>
	<key>srd</key>
	<string>Sardinian</string>
	<key>srn</key>
	<string>Sranan Tongo</string>
	<key>srp</key>
	<string>Serbian</string>
	<key>srr</key>
	<string>Serer</string>
	<key>ss</key>
	<string>Swati</string>
	<key>ssa</key>
	<string>Nilo-Saharan languages</string>
	<key>ssw</key>
	<string>Swati</string>
	<key>st</key>
	<string>Sotho, Southern</string>
	<key>su</key>
	<string>Sundanese</string>
	<key>suk</key>
	<string>Sukuma</string>
	<key>sun</key>
	<string>Sundanese</string>
	<key>sus</key>
	<string>Susu</string>
	<key>sux</key>
	<string>Sumerian</string>
	<key>sv</key>
	<string>Swedish</string>
	<key>sw</key>
	<string>Swahili</string>
	<key>swa</key>
	<string>Swahili</string>
	<key>swe</key>
	<string>Swedish</string>
	<key>syc</key>
	<string>Classical Syriac</string>
	<key>syr</key>
	<string>Syriac</string>
	<key>ta</key>
	<string>Tamil</string>
	<key>tah</key>
	<string>Tahitian</string>
	<key>tai</key>
	<string>Tai languages</string>
	<key>tam</key>
	<string>Tamil</string>
	<key>tat</key>
	<string>Tatar</string>
	<key>te</key>
	<string>Telugu</string>
	<key>tel</key>
	<string>Telugu</string>
	<key>tem</key>
	<string>Timne</string>
	<key>ter</key>
	<string>Tereno</string>
	<key>tet</key>
	<string>Tetum</string>
	<key>tg</key>
	<string>Tajik</string>
	<key>tgk</key>
	<string>Tajik</string>
	<key>tgl</key>
	<string>Tagalog</string>
	<key>th</key>
	<string>Thai</string>
	<key>tha</key>
	<string>Thai</string>
	<key>ti</key>
	<string>Tigrinya</string>
	<key>tib</key>
	<string>Tibetan</string>
	<key>tig</key>
	<string>Tigre</string>
	<key>tir</key>
	<string>Tigrinya</string>
	<key>tiv</key>
	<string>Tiv</string>
	<key>tk</key>
	<string>Turkmen</string>
	<key>tkl</key>
	<string>Tokelau</string>
	<key>tl</key>
	<string>Tagalog</string>
	<key>tlh</key>
	<string>Klingon</string>
	<key>tli</key>
	<string>Tlingit</string>
	<key>tmh</key>
	<string>Tamashek</string>
	<key>tn</key>
	<string>Tswana</string>
	<key>to</key>
	<string>Tonga (Tonga Islands)</string>
	<key>tog</key>
	<string>Tonga (Nyasa)</string>
	<key>ton</key>
	<string>Tonga (Tonga Islands)</string>
	<key>tpi</key>
	<string>Tok Pisin</string>
	<key>tr</key>
	<string>Turkish</string>
	<key>ts</key>
	<string>Tsonga</string>
	<key>tsi</key>
	<string>Tsimshian</string>
	<key>tsn</key>
	<string>Tswana</string>
	<key>tso</key>
	<string>Tsonga</string>
	<key>tt</key>
	<string>Tatar</string>
	<key>tuk</key>
	<string>Turkmen</string>
	<key>tum</key>
	<string>Tumbuka</string>
	<key>tup</key>
	<string>Tupi languages</string>
	<key>tur</key>
	<string>Turkish</string>
	<key>tut</key>
	<string>Altaic languages</string>
	<key>tvl</key>
	<string>Tuvalu</string>
	<key>tw</key>
	<string>Twi</string>
	<key>twi</key>
	<string>Twi</string>
	<key>ty</key>
	<string>Tahitian</string>
	<key>tyv</key>
	<string>Tuvinian</string>
	<key>udm</key>
	<string>Udmurt</string>
	<key>ug</key>
	<string>Uighur</string>
	<key>uga</key>
	<string>Ugaritic</string>
	<key>uig</key>
	<string>Uighur</string>
	<key>uk</key>
	<string>Ukrainian</string>
	<key>ukr</key>
	<string>Ukrainian</string>
	<key>umb</key>
	<string>Umbundu</string>
	<key>und</key>
	<string>Undetermined</string>
	<key>ur</key>
	<string>Urdu</string>
	<key>urd</key>
	<string>Urdu</string>
	<key>uz</key>
	<string>Uzbek</string>
	<key>uzb</key>
	<string>Uzbek</string>
	<key>vai</key>
	<string>Vai</string>
	<key>ve</key>
	<string>Venda</string>
	<key>ven</key>
	<string>Venda</string>
	<key>vi</key>
	<string>Vietnamese</string>
	<key>vie</key>
	<string>Vietnamese</string>
	<key>vo</key>
	<string>Volapük</string>
	<key>vol</key>
	<string>Volapük</string>
	<key>vot</key>
	<string>Votic</string>
	<key>wa</key>
	<string>Walloon</string>
	<key>wak</key>
	<string>Wakashan languages</string>
	<key>wal</key>
	<string>Walamo</string>
	<key>war</key>
	<string>Waray</string>
	<key>was</key>
	<string>Washo</string>
	<key>wel</key>
	<string>Welsh</string>
	<key>wen</key>
	<string>Sorbian languages</string>
	<key>wln</key>
	<string>Walloon</string>
	<key>wo</key>
	<string>Wolof</string>
	<key>wol</key>
	<string>Wolof</string>
	<key>xal</key>
	<string>Kalmyk</string>
	<key>xh</key>
	<string>Xhosa</string>
	<key>xho</key>
	<string>Xhosa</string>
	<key>yao</key>
	<string>Yao</string>
	<key>yap</key>
	<string>Yapese</string>
	<key>yi</key>
	<string>Yiddish</string>
	<key>yid</key>
	<string>Yiddish</string>
	<key>yo</key>
	<string>Yoruba</string>
	<key>yor</key>
	<string>Yoruba</string>
	<key>ypk</key>
	<string>Yupik languages</string>
	<key>za</key>
	<string>Zhuang</string>
	<key>zap</key>
	<string>Zapotec</string>
	<key>zbl</key>
	<string>Blissymbols</string>
	<key>zen</key>
	<string>Zenaga</string>
	<key>zgh</key>
	<string>Standard Moroccan Tamazight</string>
	<key>zh</key>
	<string>Chinese</string>
	<key>zha</key>
	<string>Zhuang</string>
	<key>zho</key>
	<string>Chinese</string>
	<key>znd</key>
	<string>Zande languages</string>
	<key>zu</key>
	<string>Zulu</string>
	<key>zul</key>
	<string>Zulu</string>
	<key>zun</key>
	<string>Zuni</string>
	<key>zxx</key>
	<string>No linguistic content</string>
	<key>zza</key>
	<string>Zaza</string>
</dict>
</plist>
