@media (prefers-color-scheme: dark) {
  body { color: #ffffff; background-color: #000000; }
  #content { background-color: #000000; }
  
  a { color: #4183c4; }
  a:visited { color: #295887; }
  
  .content table { color: #ffffff; background-color: #000000; }
  .content table tr, table tr td { background: none !important; }
  .content table.wikitable > * > tr > th { background-color: #333333; }
  .content table.infobox { color: #ffffff; background-color: #222222; }
  .content table.sidebar { background: none; background-color: #222222; }
  
  .hatnote, .dablink, .rellink { color: #aaaaaa; background-color: #000000; }
  .thumbinner .thumbcaption { color: #aaaaaa; }
  dl img { background-color: #ffffff; }
}
